header {
	position: relative;
	width: 100%;
	height: 70px;
	background-color: #fff;
	border-bottom: 1px solid #CCCCCC;
	background-image: url("../images/logo.png");
	background-position: left center;
	margin-left: 20px;
	max-width:1444px;
	background-repeat: no-repeat;
}